<% provide :title, t(".help") %>

<h1>
  <%= t ".help" %>
</h1>
<p>
  <%= t ".page_intro" %>
  <%= link_to t(".help_page"), Settings.rails_help_link %>
  <%= t ".book_intro" %>
  <em>
    <%= link_to t(".book_page"), Settings.rails_book_link %>
  </em>
  <%= t ".book" %>
</p>
