<h1>
  <%= t "mailer.password_resets" %>
</h1>

<p>
  <%= t "mailer.click_below" %>
</p>
  <%= link_to t("mailer.password_resets"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p>
  <%= t "mailer.link_expire" %>
</p>

<p>
  <%= t "mailer.ignore_reset" %>
</p>
